@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

@layer base {
}

@layer components {
  .container-responsive {
    @apply container sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto px-4 py-16;
  }
  .prose-responsive {
    @apply prose sm:prose-lg md:prose-xl lg:prose-2xl dark:prose-dark;
  }
  .hero {
    /* background-image: linear-gradient(currentColor, currentColor),
      url("https://images.unsplash.com/photo-1609923024340-9af3839df46f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); */
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: difference;
    backdrop-filter: brightness(70%);
  }

  em {
    @apply font-bold not-italic text-transparent bg-clip-text bg-gradient-to-br from-green-500 to-green-900;
  }

  @media (prefers-color-scheme: dark) {
    em {
      @apply font-bold not-italic text-transparent bg-clip-text bg-gradient-to-br from-green-300 to-green-600;
    }
  }
}
